<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="ua.umbrella.englishverb"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name="ua.umbrella.englishverb.acrivity.GameActivity"
      android:label="@string/app_name">
    </activity>
    <activity
      android:name="ua.umbrella.englishverb.acrivity.FinishDialogActivity"
      android:label="@string/title_activity_finish_dialog"
      android:theme="@android:style/Theme.Dialog">
    </activity>
    <activity
      android:name="ua.umbrella.englishverb.acrivity.SplashActivity"
      android:label="@string/title_activity_splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name="ua.umbrella.englishverb.acrivity.MainActivity"

      android:label="@string/title_activity_main">
    </activity>
    <activity
      android:name="ua.umbrella.englishverb.acrivity.SettingActivity"
      android:label="@string/title_activity_setting">
    </activity>
  </application>

</manifest>
